body, p, h1{
			margin:0;
			padding:0;
		}
		.addressbar{
			text-align:center;
		}
		.addressbar p{
			background:black;
			color:white;
			margin:0;
		}
		header{
			height:80px;
		}
		.container{
			width:80%;
			margin:0 auto;
		}
		.navbar{
			float:right;
		}
		.navbar ul li a{
			text-decoration:none;
			font-size:20px;
		}
		.navbar ul li{
			display:inline;
			margin-left:20px;
		}
		.navbar ul li a:hover{
			color:blue;
		}
		
		.navbar ul{
			padding-right:100px;
		}
		
		.main-banner{
			background:url('../images/web-banner.jpg') no-repeat;
			background-size:cover;
			height:150px;
		}
		.banner-content h1{
			margin-left:400px;
			float:left;
			padding-top:50px;
			color:#fff;
		}

		
		.banner-content ul li{
			display:inline;
			float:right;
			margin-right:30px;
			padding-top:80px;
		
		}
		
		.banner-content ul li a{
			text-decoration:none;
			color:#fff;
			
		}
		
		.banner-content ul li a:hover{
		color:red
		}
		
		.banner-content ul{
		padding-right:150px;
		}
		
		.our-features {
			background:#81818136;
			height:800px;
		}
		
		.feature-sec{
			width:36%;
			margin-left:400px;
			padding-top:50px;
		}
		
		.our-partner {
			height:300px;
			padding-top:300px;
			padding-left:250px;
			
		}
		
		
			
		
		
		
		footer{
			background:black;
			height:80px;
			padding-top:20px
			
		}
		
		footer ul li{
		display:inline;
		margin-right:20px;
		}
		
		footer ul{
			padding-left:210px;
		}
		
		footer a{
		text-decoration:none;
		color:red;
		}
	
		footer a:hover {
		color:#fff;
		}
		
		.copyright p{
		text-align:center;
		background:gray;
		color:white;
		padding:10px 0;
		
		}
		
		.copyright span{
		color:red;
		
		}
		